# Entornos virtuales
venv/
env/

# Python cache
__pycache__/
*.pyc

# Notebooks de checkpoints
.ipynb_checkpoints/

# Datos (evitar subir archivos fuente pesados al repo)
route_cost_impact.csv

# Resultados temporales
results/metrics/*
results/plots/*
!results/metrics/.gitkeep

data/
# o si quieres mantener la carpeta pero ignorar su contenido:
data/*.csv